* {
   box-sizing: border-box;
   overflow: hidden;
}
#side {
    width: 16%;
    background-color: #3498db;
    text-align: center;
    color: #fff;
    margin-bottom: -3000px;
    padding-bottom: 3000px;
    float: left;
}
#main {
    width: 84%;
    padding-left: 20px;
    float: right;
}